Click==7.0
configparser==3.7.4
entrypoints==0.3
enum34==1.1.6
flake8==3.7.8
Flask==1.1.1
Flask-Uploads==0.2.1
functools32==3.2.3.post2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
typing==3.7.4
Werkzeug==0.15.5
